<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.mybatis.repository.verifyjsonconvert.WeatherMapper">
    <resultMap id="BaseResultMap" type="com.practice.mybatis.repository.verifyjsonconvert.entity.Weather">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="temperature" jdbcType="INTEGER" property="temperature"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, temperature
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from weather
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from weather
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.practice.mybatis.repository.verifyjsonconvert.entity.Weather">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into weather (temperature)
        values (#{temperature,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.practice.mybatis.repository.verifyjsonconvert.entity.Weather">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into weather
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="temperature != null">
                temperature,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="temperature != null">
                #{temperature,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.practice.mybatis.repository.verifyjsonconvert.entity.Weather">
        update weather
        <set>
            <if test="temperature != null">
                temperature = #{temperature,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.practice.mybatis.repository.verifyjsonconvert.entity.Weather">
        update weather
        set temperature = #{temperature,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
