<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.mybatis.repository.jsonconvert.PersonMapper">
  <resultMap id="BaseResultMap" type="com.practice.mybatis.repository.jsonconvert.entity.Person">
    <id column="id" jdbcType="BIGINT" property="id"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
             type="com.practice.mybatis.repository.jsonconvert.entity.Person">
    <result column="hobbys" jdbcType="LONGVARCHAR" property="hobbys"/>
    <result column="software_outputs" jdbcType="LONGVARCHAR" property="softwareOutputs"/>
    <result column="contact_map" jdbcType="LONGVARCHAR" property="contactMap"/>
  </resultMap>
  <sql id="Base_Column_List">
    id
  </sql>
  <sql id="Blob_Column_List">
    hobbys, software_outputs, contact_map
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List"/>
    ,
    <include refid="Blob_Column_List"/>
    from person
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultType="com.practice.mybatis.repository.jsonconvert.entity.Person">
    select *
    from person
  </select>
  <select id="selectHobbys" resultType="java.lang.String">
    select hobbys
    from person
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete
    from person
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.practice.mybatis.repository.jsonconvert.entity.Person">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into person (hobbys, software_outputs,
    contact_map)
    values (#{hobbys,jdbcType=LONGVARCHAR}, #{softwareOutputs,jdbcType=LONGVARCHAR},
    #{contactMap,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.practice.mybatis.repository.jsonconvert.entity.Person">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hobbys != null">
        hobbys,
      </if>
      <if test="softwareOutputs != null">
        software_outputs,
      </if>
      <if test="contactMap != null">
        contact_map,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hobbys != null">
        #{hobbys,jdbcType=LONGVARCHAR},
      </if>
      <if test="softwareOutputs != null">
        #{softwareOutputs,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactMap != null">
        #{contactMap,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.practice.mybatis.repository.jsonconvert.entity.Person">
    update person
    <set>
      <if test="hobbys != null">
        hobbys = #{hobbys,jdbcType=LONGVARCHAR},
      </if>
      <if test="softwareOutputs != null">
        software_outputs = #{softwareOutputs,jdbcType=LONGVARCHAR},
      </if>
      <if test="contactMap != null">
        contact_map = #{contactMap,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.practice.mybatis.repository.jsonconvert.entity.Person">
    update person
    set hobbys           = #{hobbys,jdbcType=LONGVARCHAR},
        software_outputs = #{softwareOutputs,jdbcType=LONGVARCHAR},
        contact_map      = #{contactMap,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
